:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  padding: 30px 40px;
}
.title {
  font-size: 2em;
  font-weight: bold;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
.custom-field {
  font-size: 17px;
}
  .submit {
    margin-top: 25px;
    align-self: flex-start;
  }
}
