<div class="title">
  Contact Me
</div>

<form #f="ngForm" class="form">
  <mat-form-field class="custom-field">
    <input matInput placeholder="Your Name" name="name" ngModel required>
    <mat-error>{{getErrors('name')}}</mat-error>
  </mat-form-field>

  <mat-form-field class="custom-field">
    <input matInput placeholder="Your Email" name="email" email ngModel  required>
    <mat-error>{{getErrors('email')}}</mat-error>
  </mat-form-field>

  <mat-form-field class="custom-field">
    <input matInput placeholder="Subject" name="subject" ngModel required>
    <mat-error>{{getErrors('subject')}}</mat-error>
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Your Message" name="message" ngModel required></textarea>
    <mat-error>{{getErrors('message')}}</mat-error>

  </mat-form-field>

  <button  mat-raised-button type="submit" color="primary" class="submit" [disabled]="!f?.valid && f?.touched">Submit</button>
</form>
